/* set initial css before animation */
.progress-fill {
  height: 100%;
  background-color: red; /* Initial color */
  width: 0%; /* Start at 0% width */
}

.progress-fill.animate {
  animation: progress var(--duration) linear forwards;
}

@keyframes progress {
  0% {
    width: 0%;
    background-color: red;
  }
  20% {
    background-color: red;
  }
  50% {
    background-color: #f97316;
  }
  75% {
    background-color: #eab308;
  }
  100% {
    width: var(--bound);
    background-color: #84cc16;
  }
}
